.Book-header{
    color: #d4195a;
    text-align: center;
    background-color: #9319d4;

}

.header-author{
    color: #e52165;
    text-align: center;
}

.Book-object{
    background-color: aqua;
    margin: 40px 40px;
    box-shadow: 10px 10px lightblue;
    padding: 15px 15px;
    /* width: 400px;
    height: 540px; */

   
}
.image-model{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    text-align: center;
}

.Book-container{
    display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
